In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
sns.set(style="ticks", color_codes=True)
from sklearn.preprocessing import OneHotEncoder 
from sklearn.cluster import KMeans
import pandas as pd
data=pd.read_csv("Cross Sell.csv")
data.head()
from matplotlib import pyplot

In [4]:
data["DDABal"].mean()

2170.016712124974

In [148]:
data = data.replace(".",np.nan)
data.isnull().sum()

AcctAge    2071
DDA           1
DDABal        1
CashBk        1
Checks        1
DirDep        1
NSF           1
NSFAmt        1
Phone      4134
Teller        1
Sav           1
SavBal        1
ATM           1
ATMAmt        1
POS        4134
POSAmt     4134
CD            1
CDBal         1
IRA           1
IRABal        1
LOC           1
LOCBal        1
ILS           1
ILSBal        1
MM            1
MMBal         1
MMCred        1
MTG           1
MTGBal        1
CC         4134
CCBal      4134
CCPurc     4134
SDB           1
Income     5783
HMOwn      5534
LORes      5783
HMVal      5783
Age        6358
CRScore     708
Moved         1
InArea        1
Ins           1
Branch        1
Res           1
Dep           1
DepAmt        1
Inv        4134
InvBal     4134
dtype: int64

In [149]:
# df=data[data["Phone"].notnull()]

In [150]:
# print(df.isnull().sum())

In [151]:
data = data.drop(["LOC", "LOCBal","CRScore"], axis=1)
data.head()

,AcctAge,DDA,DDABal,CashBk,Checks,DirDep,NSF,NSFAmt,Phone,Teller,...,Age,Moved,InArea,Ins,Branch,Res,Dep,DepAmt,Inv,InvBal
0,0.3,1.0,419.27,0.0,0.0,0.0,0.0,0.0,0,0.0,...,63,0.0,1.0,1.0,B17,R,2.0,1170.06,0,0
1,0.7,1.0,1986.81,0.0,1.0,1.0,0.0,0.0,0,0.0,...,51,0.0,1.0,0.0,B2,R,1.0,446.93,0,0
2,4.1,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0,0.0,...,60,0.0,1.0,1.0,B3,S,0.0,0.00,0,0
3,0.5,1.0,1594.84,0.0,1.0,0.0,0.0,0.0,0,1.0,...,44,0.0,1.0,0.0,B1,S,1.0,1144.24,0,0
4,6.7,1.0,2813.45,0.0,2.0,0.0,0.0,0.0,0,5.0,...,46,0.0,1.0,1.0,B1,S,2.0,1208.94,0,0

In [152]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32265 entries, 0 to 32264
Data columns (total 45 columns):
AcctAge    30194 non-null object
DDA        32264 non-null float64
DDABal     32264 non-null float64
CashBk     32264 non-null float64
Checks     32264 non-null float64
DirDep     32264 non-null float64
NSF        32264 non-null float64
NSFAmt     32264 non-null float64
Phone      28131 non-null object
Teller     32264 non-null float64
Sav        32264 non-null float64
SavBal     32264 non-null float64
ATM        32264 non-null float64
ATMAmt     32264 non-null float64
POS        28131 non-null object
POSAmt     28131 non-null object
CD         32264 non-null float64
CDBal      32264 non-null float64
IRA        32264 non-null float64
IRABal     32264 non-null float64
ILS        32264 non-null float64
ILSBal     32264 non-null float64
MM         32264 non-null float64
MMBal      32264 non-null float64
MMCred     32264 non-null float64
MTG        32264 non-null float64
MTGBal     32264 non-null float64
CC         28131 non-null object
CCBal      28131 non-null object
CCPurc     28131 non-null object
SDB        32264 non-null float64
Income     26482 non-null object
HMOwn      26731 non-null object
LORes      26482 non-null object
HMVal      26482 non-null object
Age        25907 non-null object
Moved      32264 non-null float64
InArea     32264 non-null float64
Ins        32264 non-null float64
Branch     32264 non-null object
Res        32264 non-null object
Dep        32264 non-null float64
DepAmt     32264 non-null float64
Inv        28131 non-null object
InvBal     28131 non-null object
dtypes: float64(29), object(16)
memory usage: 11.1+ MB

In [153]:
for col in data.columns:
    if col=="Branch" or col=="Res":
        continue
    else:
        data[col]=data[col].astype(float)

In [154]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32265 entries, 0 to 32264
Data columns (total 45 columns):
AcctAge    30194 non-null float64
DDA        32264 non-null float64
DDABal     32264 non-null float64
CashBk     32264 non-null float64
Checks     32264 non-null float64
DirDep     32264 non-null float64
NSF        32264 non-null float64
NSFAmt     32264 non-null float64
Phone      28131 non-null float64
Teller     32264 non-null float64
Sav        32264 non-null float64
SavBal     32264 non-null float64
ATM        32264 non-null float64
ATMAmt     32264 non-null float64
POS        28131 non-null float64
POSAmt     28131 non-null float64
CD         32264 non-null float64
CDBal      32264 non-null float64
IRA        32264 non-null float64
IRABal     32264 non-null float64
ILS        32264 non-null float64
ILSBal     32264 non-null float64
MM         32264 non-null float64
MMBal      32264 non-null float64
MMCred     32264 non-null float64
MTG        32264 non-null float64
MTGBal     32264 non-null float64
CC         28131 non-null float64
CCBal      28131 non-null float64
CCPurc     28131 non-null float64
SDB        32264 non-null float64
Income     26482 non-null float64
HMOwn      26731 non-null float64
LORes      26482 non-null float64
HMVal      26482 non-null float64
Age        25907 non-null float64
Moved      32264 non-null float64
InArea     32264 non-null float64
Ins        32264 non-null float64
Branch     32264 non-null object
Res        32264 non-null object
Dep        32264 non-null float64
DepAmt     32264 non-null float64
Inv        28131 non-null float64
InvBal     28131 non-null float64
dtypes: float64(43), object(2)
memory usage: 11.1+ MB

In [ ]:
# df_new = train[train.Age.notnull()]
# age = (df_new['Age']).astype(float)
# med_age = np.quantile(age,0.5)
# q1_age = np.quantile(age,0.25)
# q3_age = np.quantile(age,0.75)
# iqr_age = q3_age - q1_age
# outlier_low = q1_age - 1.5*iqr_age
# outlier_high = q3_age + 1.5*iqr_age
# df_new['Age'] = (df_new['Age']).astype(float)
# df_age = df_new[(df_new['Age'] >= outlier_low) & (df_new['Age'] <= outlier_high)]
# age = (df_age['Age']).astype(float)
# mean_age = np.mean(age)
# train['Age'].fillna(mean_age,inplace = True)


rng = np.random.RandomState(42)
clf = IsolationForest(behaviour='new', max_samples=100,random_state=rng, contamination=0.7)
clf.fit(np.array(df_new['Age']).reshape(-1,1))
outlier = clf.predict(np.array(df_new['Age']).reshape(-1,1))
X = np.array(df_new['Age']).reshape(-1,1)
out_cleaned = X[np.where(outlier == 1, True, False)]
df['Age'].fillna(out_cleaned.mean(),inplace = True)

In [155]:
# p=df[df["Age"].isnull()]
# p.isnull().sum()
# q=df[df["Age"].notnull()]
# q.isnull().sum()
data=data[data["DDA"].notnull()]

In [156]:
data['CC'] = data['CC'].replace(np.nan, 0)
data['CCBal'] = data['CCBal'].replace(np.nan, 0)
data['CCPurc'] = data['CCPurc'].replace(np.nan, 0)
data['POS'] = data['POS'].replace(np.nan, 0)
data['POSAmt'] = data['POSAmt'].replace(np.nan, 0)
data['Inv'] = data['Inv'].replace(np.nan, 0)
data['InvBal'] = data['InvBal'].replace(np.nan, 0)
data['HMOwn'] = data['HMOwn'].replace(np.nan, 0)

In [158]:
data['Income'] = data['Income'].fillna((data['Income'].median()))
data['Phone'] = data['Phone'].fillna((data['Phone'].median()))
data['Age'] = data['Age'].fillna((data['Age'].median()))
data['HMVal'] = data['HMVal'].fillna((data['HMVal'].median()))
data['LORes'] = data['LORes'].fillna((data['LORes'].median()))
data['AcctAge'] = data['AcctAge'].fillna((data['AcctAge'].median()))

In [159]:
data.isnull().sum()

AcctAge    0
DDA        0
DDABal     0
CashBk     0
Checks     0
DirDep     0
NSF        0
NSFAmt     0
Phone      0
Teller     0
Sav        0
SavBal     0
ATM        0
ATMAmt     0
POS        0
POSAmt     0
CD         0
CDBal      0
IRA        0
IRABal     0
ILS        0
ILSBal     0
MM         0
MMBal      0
MMCred     0
MTG        0
MTGBal     0
CC         0
CCBal      0
CCPurc     0
SDB        0
Income     0
HMOwn      0
LORes      0
HMVal      0
Age        0
Moved      0
InArea     0
Ins        0
Branch     0
Res        0
Dep        0
DepAmt     0
Inv        0
InvBal     0
dtype: int64

In [161]:
data.to_csv('file2.csv')

In [1]:
X = train.drop(['Key','Approved','Male','Employed','PriorDefault','DriversLicense','ZipCode1','ZipCode2'], axis = 1)
y = train['Approved']
y.loc[y == '+'] = 1
y.loc[y == '-'] = 0
categorical=['Ethnicity','Citizen','BankCustomer','Married','EducationLevel','Default','Experience']
# from sklearn.preprocessing import StandardScaler
# cols_to_norm = ['Age','Debt','Income','YearsEmployed','CreditScore']
# X[cols_to_norm] = StandardScaler().fit_transform(X[cols_to_norm])
powers = set(list(X.columns)) - set(categorical)
for i in powers:
    print(i)
    train[i] = train[i].astype(float)
    X['inverse'+i]=1/(train[i]+0.01)
    X['square'+i] = np.square(train[i])
    X['cube'+i] = np.power(train[i],3)
    X['sqrt'+i] = np.sqrt(train[i])
    X['cbrt'+i] = np.power(train[i],(1/3))
    
    test['inverse'+i]=1/(test[i]+0.01)
    test['square'+i] = np.square(test[i])
    test['cube'+i] = np.power(test[i],3)
    test['sqrt'+i] = np.sqrt(test[i])
    test['cbrt'+i] = np.power(test[i],(1/3))
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
from catboost import CatBoostClassifier
clf = CatBoostClassifier(cat_features = categorical,silent=True,iterations=2500)
#Iterations have been set to 100 to make commiting easy. It was set to 1000 while actual submission.
clf.fit(X,y)
y_pred = clf.predict(X_test)
from sklearn.metrics import f1_score
print(f1_score(y_test, y_pred,average='binary'))

NameError: name 'train' is not defined